#video-preview {
  pointer-events: none;
  display: none;
}

ytd-thumbnail:hover a.vidytmpv-thumbnail-button, a.vidytmpv-thumbnail-button:hover {
  opacity: 1
}


a.vidytmpv-thumbnail-button {
  opacity: 0;
  z-index: 1000000;
  position: absolute;
  inset: auto auto 2px 2px;
  cursor: pointer;
  user-select: none;

  padding: 2px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);

  transition: opacity 0.2s;
}

a.vidytmpv-thumbnail-button img {
  height: 32px;
}

a.vidytmpv-description-button {
  cursor: pointer;
  user-select: none;
  margin-left: 8px
}

a.vidytmpv-description-button img {
  height: 40px;
}
